name: CI (pull_request & push)  
  
on:  
  push:  
    branches: [main, release-*]  
  pull_request:  
    branches: [main, release-*]  
  
jobs:  
  lint:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true 
      - run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest  
      - run: make lint  
  
  test:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true  
  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true  
      - run: make build  
